@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

/* Các biến màu */
:root {
  --primary-color: #3bb77e;
  --secondary-color: #ffba43;
  --white-color: #ffffff;
  --white-light-color: #e6e6e6;
  --title-color: #1c2137;
  --sub-title-color: #ffba43;
  --body-text: #4a4a4a;
  --descr-text: #6c7689;
  --light-green-color: #e2f9ee;
  --light-yellow-color: #fff8ed;
  --warning-color: #ff0000;
  --light-grey: #f9faff;
}

/* Các biến phông chữ */
:root {
  --primary-font: "Open Sans", sans-serif;
}

html {
  font-family: var(--primary-font);
}
