
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translate3d(0, 100%, 0)
  }

  to {
      opacity: 1;
      transform: none
  }
}

main{
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

.banner-main_home{
  width: 100%;
  height: 750px;
  background-color: var(--light-green-color);
}

.h-inner-banner {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding: 100px 10px 200px 200px;
  display: flex;
}

a.h-button.view {
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 10px 30px;
  width: fit-content;
  border-radius: 5px;
}

.h-hident-title{
  position: absolute;
  top: 300px;
  left: -190px;
  transform: rotate(-90deg);
  font-size: 160px;
  line-height: 115px;
  font-family: var(--primary-font);
  font-weight: 600;
  text-transform: capitalize;
  color: transparent;
  -webkit-text-stroke: 1px var(--primary-color);
  opacity: 0.2;
}

.banner-title{
  font-family: var(--primary-font);
  font-size: 3.5em;
  color: var(--body-text);
  font-weight: 600;
}

.h-title-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 40px 0;
}

.view{
  font-size: 2em;
}

.banner-title span{
  color: var(--primary-color);
  display: block;
  margin-top: -15px;
}

.banner-img{
  width: 75%;
  position: relative;
}

.bg-img{
  width: 780px;
}

.main-img{
  width: 520px;
  position: absolute;
  top: 40px;
  left: 10px;
  right: 0;
  margin: 0 auto;
}

.home__title-bar{
  padding: 2.5em 1.5625em;
  box-shadow: 0px 1px 30px 0px rgb(36 38 43 / 10%);
  border-radius: 10px;
  background-color: var(--white-color);
  margin-top: -90px;
  position: relative;
}

.title-bar__list{
  display: flex;
  flex-direction: row;
}

.title-bar__item{
  display: flex;
  flex: 1;
  padding: 0 0.75em;
}

.title-bar__img{
  width: 3.125em;
  padding-top: 5px;
}

.title-bar__item .in-item{
  margin-left: 1.25em;
  color: var(--descr-text);
}

.title-bar__item .in-item h5{
  color: var(--primary-color);
  font-size: 1.45em;
  font-weight: 700;
}

.home__services-con{
  padding: 120px 0 0;
}

.services-list{
  display: flex;
  justify-content: space-between;
}

.services-item{
  width: 440px;
  height: 280px;
  box-shadow: 0px 1px 30px 0px rgb(36 38 43 / 10%);
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}

.service-img{
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.services-item:hover .service-img{
  transform: scale(1.2);}

.ser-img1{
  background: url(https://res.cloudinary.com/foodstocloud/image/upload/v1656759733/category_images/sr-home-1_vh0o99.png);
  background-size: cover;
}

.ser-img2{
  background: url(https://res.cloudinary.com/foodstocloud/image/upload/v1656759733/category_images/sr-home-2_wkmfpi.png);
  background-size: cover;
}

.ser-img3{
  background: url(https://res.cloudinary.com/foodstocloud/image/upload/v1656759733/category_images/sr-home-3_wcuprv.png);
  background-size: cover;
}

.ser-con{
  padding: 50px 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ser-con span{
  font-family: 'Great Vibes', cursive;
  font-size: 1.3em;
  color: var(--primary-color);
}

.ser-con h4{
  color: var(--title-color);
  font-weight: 700;
  font-size: 1.6em;
  line-height: normal;
  word-wrap: break-word;
  width: 60%;
  margin-bottom: 30px;
}

.ser-con i{
  font-size: 0.8em;
}

.home__title{
  width: 100%;
  text-align: center;
  position: relative;
  padding: 120px 0 0;
}

.title-hident{
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  font-size: 130px;
  line-height: 115px;
  font-family: var(--primary-font);
  font-weight: 600;
  text-transform: capitalize;
  color: transparent;
  z-index: -1;
  -webkit-text-stroke: 1px var(--primary-color);
  opacity: 0.2;
}

.title-main{
  margin-bottom: 60px;
}

.title-main span{
  font-family: 'Great Vibes', cursive;
  font-weight: bolder;
  color: var(--primary-color);
  font-size: 22px;
  line-height: 1;
  letter-spacing: 2px;
}

.title-main h2{
  font-family: var(--primary-font);
  color: var(--title-color);
  margin: 0;
  word-wrap: break-word;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 3.1875em;
}

.title-divider{
  background: var(--secondary-color);
  height: 3px;
  display: inline-block;
  width: 50px;
}

.home_product-bar{
  padding-bottom: 90px;
}

.home_product-filters{
  text-align: center;
}

.home_product-filters button{
  padding: 12px 30px;
  color: var(--title-color);
  font-size: 16px;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  background: transparent;
  transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
}

.show, .tabs__title:hover {
  background: var(--primary-color) !important;
  color: var(--white-color) !important;
  box-shadow: -1.15px 10.94px 39.56px 3.44px rgb(0 0 0 / 15%);
}

.home_product{
    margin-top: 45px;
}

.h-product-list{
  margin: 0 -15px;
}

.tabs__content{
  display: none;
}

.tabs__content.active{
  display: block;
}

.h-product-main{
  display: flex;
  flex-wrap: wrap;
}

.h-product-item{
  width: 25%;
  padding: 0 15px;
  margin: 0 0 30px;
}

.inner-h-product{
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding: 10px 10px 0 10px;
  box-shadow: 0px 1px 30px 0px rgb(36 38 43 / 10%);
  background: var(--white-color);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.onSale{
  position: absolute;
  top: 0;
  right: auto;
  left: 0;
  margin: 0;
  border-radius: 5px;
  font-size: 1em;
  padding: 12px 16px;
  background: var(--primary-color);
  color: var(--white-color);
  font-family: var(--primary-font);
  z-index: 10;
}

.h-product-img {
  display: inline-flex;
  overflow: hidden;
  border-radius: 5px;
}

.h-product-img img{
  transition: all 1s;
  border-radius: 5px;
}

.inner-h-product:hover .h-product-img img {
  transform: scale(1.05);
}

.h-product_content{
  padding: 15px 5px;
  text-align: left;
}

.-product__category{
  font-size: 0.875em;
}

.h-product__title-price a{
  font-family: var(--primary-font);
  color: var(--title-color);
  word-wrap: break-word;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 1.4em;
  margin: 10px 0;
  display: block;
}

.inner-h-product:hover .h-product__title{
  color: var(--primary-color);
}

.h-product__price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ins{
  text-decoration: none;
  font-size: 1.125em;
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: 600;
}

del{
  font-size: 1em;
  font-family: var(--primary-font);
}

.h-ratings{
  display: flex;
}

.h-ratings ul{
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  position: relative;
  font-size: 0.75em;
}

.h-review{
  color: var(--body-text);
  margin-left: 5px;
  font-weight: 500;
  font-size: 0.875em;
}

.buttons-holder ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons-holder a.add-to-card{
  clear: both;
  width: auto;
  padding: 14px 15px;
  line-height: 14px;
  color: var(--white-color);
  font-size: 1em;
  text-transform: capitalize;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: var(--primary-font);
  font-weight: 500;
}

.buttons-holder a.add-to-card i{
  font-size: 0.8em;
}

.h-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9em;
  padding: 0.7em 1.6em;
  color: var(--white-color);
  font-weight: 500;
  font-size: 1em;
  background-color: var(--secondary-color);
  border-radius: 10px;
  vertical-align: middle;
}

.h-button:hover{
  background: var(--primary-color);
  color: var(--white-color);
}

.h-add{
  transform: translateY(var(--y));
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.h-add span{
  display: inline-block;
  color: var(--white-color);
  font-family: var(--primary-font);
  font-size: 0.769em;
  animation: move 0.5s linear 0.05s;
}

.h-add div{
  display: flex;
}

a.add-to-wishlist,
.h-btn__view{
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: var(--secondary-color);
  background: transparent;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

a.add-to-wishlist:hover,
.h-btn__view:hover{
  background-color: var(--secondary-color);
  color: var(--white-color);
  box-shadow: -1.15px 10.94px 39.56px 3.44px rgb(0 0 0 / 15%);

}

.h-video{
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  animation-duration: 1.25s;
  position: relative;
  left: -74.6px;
  width: 1519px;
  animation-name: fadeInUp;
  box-sizing: border-box;
}

.h-background-overlay{
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0,rgb(24 12 12 / 55%),rgb(24 12 12 / 55%)), url(https://res.cloudinary.com/foodstocloud/image/upload/v1657117276/page_images/video-bg_nefibz.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.h-video .title-main span,
.h-video .title-main h2{
  color: var(--white-color);
}

.h-video .title-divider{
  background-color: var(--white-color);
}

.h-video-icon{
  min-height: 280px;
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 130px;
}

.h-youtube{
  display: inline-block;
  width: 5em;
  height: 5em;
  line-height: 5em;
  border-radius: 50px;
  background-color: var(--secondary-color);
}

.h-youtube i{
  font-size: 1.5em;
  color: var(--white-color);
}
.h-waves{
  position: absolute;
  width: 14rem;
  height: 14rem;
  left: 640px;
  top: -80px;
  z-index: 2;
  float: right;
  opacity: 0.2;
}

.waves{
  position: absolute;
  width: 15rem;
  height: 15rem;
  background-color: #FEC35B;
  border-radius: 320px;
  animation: waves 3s ease-in-out infinite;
}

.wave1{
  animation-delay: 0;
}

.wave2{
  animation-delay: 1s;
}

.wave3{
  animation-delay: 2s;
}

.h-categoris{
  display: flex;
  justify-content: space-between;
}

.h-categoris__poster{
  position: relative;
  text-align: center;
  width: 396px;
  height: 490px;
  overflow: hidden;
  border-radius: 5px;
}

.h-poster__img {
  width: 100%;
  height: 100%;
  background: url(https://res.cloudinary.com/foodstocloud/image/upload/v1657244376/page_images/food03_jokdku.jpg);
  background-position: center center;
  transition: all .4s;
  transform: scale(1);
}

.h-poster__content{
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h-poster__content .h-button {
  width: auto;
  margin-top: 20px;
  font-size: 22px;
  letter-spacing: 0.5px;
  padding: 14px 30px;
}

.h-poster__content i{
  font-size: 0.7em;
}

.h-content__title{
  font-family: var(--primary-font);
  font-size: 2.3em;
  color: var(--white-color);
  text-transform: capitalize;
  font-weight: 600;
}

.h-category__content{
  width: 960px;
}

.h-category__content .h-product-item{
  width: 50%;
}

.h-category__content .h-product-main{
  margin-right: -15px;
}

.h-category__content .inner-h-product{
  display: flex;
  padding: 10px;
}

.h-category__content .h-product-img{
  width: 120px;
}

.h-category__content .h-product_content{
  padding: 5px;
}

.h-category__content .h-product__title-price{
  padding-left: 15px;
}

.h-category__content .h-product__price{
  flex-direction: column;
  align-items: normal;
}

.h-category__content .h-ratings{
  order: 1;
  margin: 0 0 10px;
  font-size: 18px;
}

.h-category__content .h-ratings li{
  padding: 1px;
}

.h-category__content .h-pricing-details{
  order: 2;
}

.h-banner-sale{
  width: 100%;
  height: 380px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -1px 11px 44px -12px rgb(0 0 0 / 31%);
  position: relative;
  margin: 120px 0;
}

.banner-sale__img{
  background: url(https://res.cloudinary.com/foodstocloud/image/upload/v1657255565/page_images/pro-9_bufgnn.jpg);
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}

.banner-sale__content{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.banner-sale__content .home__title{
  padding-top: 100px;
}

.h-banner-sale .banner-sale__content {
  display: flex;
  flex-direction: column;
}

.h-banner-sale .h-button {
  width: auto;
  margin: 0 auto;
  font-size: 22px;
  letter-spacing: 0.5px;
  padding: 14px 30px;
  border-radius: 5px;
}

.banner-sale__content i{
  font-size: 0.7em;
}

.banner-sale__content .title-main{
  margin-bottom: 35px;
}

.h-testimonial{
  background-color: var(--primary-color);
  position: relative;
  left: -76px;
  width: 1519px;
  padding-bottom: 120px;
}

.inner-respond{
  width: 1400px;
  margin: 0 auto;
}

.inner-respond .title-hident{
  -webkit-text-stroke: 1px var(--white-color);
  z-index: 1;
}

.inner-respond .title-main span{
  color: var(--white-color);
  letter-spacing: 4px;
  font-weight: 500;
}

.inner-respond .title-main h2{
  color: var(--white-color);
}

.respond__container{
  overflow: hidden;
}

.h-respond__container{
  margin: 0 -15px;
  overflow: hidden;
}

.h-respond__list{
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.h-respond__item{
  flex-shrink: 0;
  width: 477px;
  margin: 0 auto;
}

.h-inner-respond__item{
  padding: 10px;
  margin: 0 15px;
  font-family: var(--primary-font);
  font-size: 1em;
  box-shadow: 0px 4px 28.14px 0.86px rgb(0 0 0 / 5%);
  background: var(--white-color);
  border-radius: 5px;
}

.h-item__main{
  display: flex;
  padding: 15px 15px 50px 15px;
}

.h-item__main p{
  text-align: center;
  color: var(--body-text);
}

.h-item__main i{
  font-size: 50px;
  color: #dbdbdb;
  margin: 0 15px;
}

.h-item__name{
  position: relative;
  background-color: var(--primary-color);
  height: 60px;
  padding: 15px;
}

.h-item__name h5{
  color: var(--white-color);
  font-family: var(--primary-font);
  font-size: 1.5em;
  font-weight: 500;
}

.h-item__user-img{
  position: absolute;
  width: 80px;
  top: -35px;
  right: 15px;
}

.h-item__user-img img{
  border-radius: 5px;
}

.h-blog{
  margin-bottom: 120px;
}

.h-blog__list{
  display: flex;
  justify-content: space-between;
}

.h-blog__item{
  width: 32%;
  box-shadow: 0px 4px 28.14px 0.86px rgb(0 0 0 / 5%);
  border-radius: 5px;
  overflow: hidden;
}

.h-blog__container{
  display: flex;
}

.h-blog__day{
  transform: rotate(-90deg);
  position: relative;
  top: 55px;
  color: var(--primary-color);
  font-size: 1.1em;
  height: 50px;
  width: 50px;
  padding-top: 15px;
}

.h-blog__wraper {
  padding: 10px 30px 25px 10px;
}

.h-blog__title{
  color: var(--body-text);
  font-size: 1.7em;
  line-height: 1.2em;
  font-weight: 600;
  margin-bottom: 20px;
}

.read{
  background-color: unset !important;
  color: var(--primary-color);
  padding: 0;
  margin-top: 20px;
  justify-content: unset;
  font-size: 1.3em;
}

.read .h-add span{
  color: var(--primary-color);
}

.read i{
  font-size: 0.8em;
}