@import "./utils.scss";

.loader-wrapper {
     display: flex;
     align-items: center;
     justify-content: center;

     height: 100%;

     padding: 50px;

     #loader {
          width: 50px;
          height: 50px;

          border: 5px solid $primary-color;
          border-top-color: hsla(228, 22%, 95%, 0.8);
     }
}

.status-loader-wrapper {
     display: flex;
     align-items: center;

     height: 100%;

     #loader {
          width: 25px;
          height: 25px;

          border: 3px solid $primary-color;
          border-top-color: hsla(228, 22%, 95%, 0.8);
     }
}

.section-wrapper {
     margin-top: 20px;

     padding: 20px 0;

     border-radius: 10px;

     background-color: $white-color;

     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

table {
     width: 100%;
     table-layout: fixed;

     border: none;
     border-spacing: 0;

     thead {
          tr {
               color: $white-color;

               background-color: #2d3436;

               th {
                    padding: 10px 25px;

                    text-align: left;
               }
          }
     }
     tbody {
          tr {
               td {
                    padding: 15px 25px;

                    select {
                         padding: 5px;

                         border-radius: 5px;

                         &:focus {
                              outline: none;
                         }
                    }
               }

               .failure {
                    font-weight: 600;
                    color: #ea2027;
               }

               .pending {
                    font-weight: 600;
                    color: #f1c40f;
               }

               .picking {
                    font-weight: 600;
                    color: #fa8231;
               }

               .shipping {
                    font-weight: 600;
                    color: #3867d6;
               }

               .success {
                    font-weight: 600;
                    color: #2ecc71;
               }

               button[type="button"] {
                    @include buttonGenerator(30px, 30px, #2f3640, $white-color);
               }

               &:hover {
                    background-color: #ecf0f1;
               }
          }

          tr:nth-of-type(even) {
               background-color: #ecf0f157;
          }
     }
}
