@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

/* ===== Fonts ===== */
$primary-font: "Source Sans Pro", sans-serif;

/* ===== Colors ===== */
$body-color: #f4f7ff;
$white-color: #fff;
$black-color: #000000;
$primary-color: #3bb77e;
$secondary-color: #ffba43;
$primary-color-light: #f6f5ff;
$toggle-color: #ddd;
$text-color: #707070;
$text-warning-color: #ee5253;

* {
     margin: 0;

     padding: 0;

     box-sizing: border-box;

     font-family: $primary-font;
}

#loader {
     width: 20px;
     height: 20px;

     border: 3px solid hsla(228, 22%, 95%, 0.2);
     border-top-color: hsla(228, 22%, 95%, 0.8);
     border-radius: 50%;

     animation: spin 0.8s linear infinite;
}

@keyframes spin {
     to {
          transform: rotate(360deg);
     }
}

@mixin buttonGenerator($width, $height, $background-color, $text-color) {
     width: $width;
     height: $height;

     border: none;
     border-radius: 6px;

     color: $text-color;

     background-color: $background-color;

     transition: all 0.3s ease-in-out;

     &:hover {
          opacity: 0.8;

          cursor: pointer;
     }
}
